{% set bodyId    = 'login-body' %}
{% set pagetitle = 'Hello there! 👋' %}

{% extends 'admin/layouts/guest.twig' %}

{% block content %}
    <div id="app"
        data-pagetitle="{{ pagetitle|striptags|title }}"
        data-csrf="{{ csrf }}"></div>
{% endblock %}
