/**
 * Import dependencies.
 */
@import '~normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700|Satisfy');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css');
@import '~simplemde/dist/simplemde.min.css';
@import '~flatpickr/dist/flatpickr.css';

/**
 * Import variables and mixins
 */
@import 'variables';

/**
 * Apply a natural box layout model to all elements, but allowing components to
 * change.
 */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/**
 * General style defintions.
 */
html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html {
    font-size: 62.5%; // 10px
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    line-height: 2em;
    font-size: 1.5em;
    color: $colour-secondary;
    background: $colour-faded;
}

* + * {
    margin-top: $space-base;
}

h1,
h2 {
    font-family: 'Roboto', serif;

    &.fancy {
        font-family: 'Satisfy', 'Roboto', Helvetica, sans-serif;
        color: $colour-primary;
        text-align: center;
    }
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

/**
 * Styles that don't really have their own place.
 */
.content-container {
    width: 90%;
    max-width: $large;
    margin: 0 auto;
}

.no-content-placeholder {
    padding: $space-base;
    border-radius: $border-radius;
    background: $colour-tertiary;
}

.sign-off {
    text-align: center;
}

/**
 * Split styles for easier organisation.
 */
@import 'imports';
