<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false">

    <testsuites>
        <testsuite name="Many Pies Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./writedown/</directory>
        </whitelist>
    </filter>

    <php>
        <env name="ENVIRONMENT" value="testing"/>

        <env name="DB_DRIVER" value="sqlite"/>
        <env name="DB_DATABASE" value="db/writedown-test"/>

        <env name="MAX_ITEMS" value="10"/>
    </php>
</phpunit>
