.single-error {
    position: relative;
    display: block;
    margin-bottom: 1em;
    padding: .5em 1em .5em 2em;
    border-left: 3px solid $colour-primary;
    background: $colour-tertiary;

    .fas {
        position: absolute;
        top: 50%;
        left: 1em;
        transform: translateY(-50%);
        font-size: 1em;
        color: $colour-primary;
    }
}
