.alert {
    display: inline-block;
    margin-bottom: $space-tiny;
    padding: $space-tiny;
    border-left: 2px solid $colour-primary;

    .fas {
        float: left;
        margin: 0 $space-tiny 0 0;
        font-size: 1.8em;
    }

    &--error {
        background: $colour-alert;
    }
}
