.form {
    &__row {
        margin-bottom: $space-big;

        &--compacted {
            margin-bottom: 0;
        }
    }

    &__label {
        display: block;
        color: $colour-faded-secondary;
    }

    &__control {
        width: 100%;
    }

    &__input,
    &--select,
    &--textarea {
        padding: $space-base;
        border-radius: $border-radius;
    }

    &__input,
    &--textarea {
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        box-shadow: inset $shadow;
        background: none;
        color: $colour-secondary;

        &:focus {
            outline: none;
        }

        &:focus ~ .bar:before {
            width: 100%;
        }
    }

    &--textarea {
        height: 12em;
        margin-top: $space-tiny;
        line-height: 2em;
    }
}
