.item-list {
    padding: 0;
    list-style: none;

    &--item {
        padding: $space-base;
        border-radius: $border-radius;
        box-shadow: $shadow;
        background: $colour-tertiary;
    }
}
