.post-list {
    &__title {
        margin: 0;
    }

    &__publish-information {
        margin-top: 0;
        font-size: 0.9em;
        color: $colour-faded-secondary;
    }

    &__tools {
        margin-bottom: 0;
    }
}
