{% set pagetitle = 'New Post' %}

{% extends 'admin/layouts/admin.twig' %}

{% block content %}
    <div
        id="app"
        data-pagetitle="{{ pagetitle|striptags|title }}"
        data-csrf="{{ csrf }}"
    >
    </div>
{% endblock %}
