{% set pagetitle = 'New Post' %}

{% extends 'admin/layouts/admin.twig' %}

{% block content %}
    <main class="content-container">
        <header>
            <h1 class="header2 page-title">{{ pagetitle }}</h1>
        </header>

        <section class="container">
            <div id="app"></div>
        </section>
    </main>
{% endblock %}
