{% set pagetitle = 'New Post' %}

{% extends 'admin/layouts/admin.twig' %}

{% block content %}
    <main class="content-container">
        <header>
            <h2>{{ pagetitle }}</h2>
        </header>

        <div id="app"></div>
    </main>
{% endblock %}
