{% set pagetitle = 'Edit Post' %}

{% extends 'admin/layouts/admin.twig' %}

{% block content %}
    <main class="content-container">
        <header>
            <h2>{{ pagetitle }}</h2>
        </header>

        <div id="app"></div>
    </main>

    <script>writedown.post = {{ post.data|json_encode|raw }}</script>
{% endblock %}
