{% set pagetitle = 'Edit Post' %}

{% extends 'admin/layouts/admin.twig' %}

{% block content %}
    <div
        id="app"
        data-csrf="{{ csrf }}"
        data-pagetitle="{{ pagetitle|striptags|title }}"
        data-post-id="{{ postID }}"
    >
    </div>
{% endblock %}
