{% set pagetitle = 'Edit Post' %}

{% extends 'admin/layouts/admin.twig' %}

{% block content %}
    <div id="app"></div>
    <script>writedown.post = {{ post.data|json_encode|raw }};</script>
{% endblock %}
