{% set pagetitle = 'Posts' %}

{% extends 'admin/layouts/admin.twig' %}

{% block content %}
    <main id="post-index-container">
        <header class="header-with-buttons">
            <h1 class="pagetitle">{{ pagetitle }}</h1>
            <div class="call-to-action">
                <a href="/admin/posts/new" class="button">New Post</a>
            </div>
        </header>

        <div id="app"></div>
    </main>
{% endblock %}
