{% set pagetitle = 'Posts' %}

{% extends 'admin/layouts/admin.twig' %}

{% block content %}
    <main class="content-container">
        <header>
            <h1 class="header2 page-title">{{ pagetitle }}</h1>

            <nav class="section-nav">
                <ul class="section-nav--list-container">
                    <li class="section-nav--item">
                        <a class="button" href="/admin/posts/new">New Post</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div id="app"></div>
    </main>

    <script>
        writedown.posts = {{ posts.data|json_encode|raw }}
    </script>
{% endblock %}
