{% set pagetitle = 'Posts' %}

{% extends 'admin/layouts/admin.twig' %}

{% block content %}
    <main class="content-container">
        <header>
            <h2>{{ pagetitle }}</h2>

            <nav class="section-nav">
                <a href="/admin/posts/new">New Post</a>
            </nav>
        </header>

        <div id="app"></div>
    </main>

    <script>
        writedown.posts = {{ posts.data|json_encode|raw }}
    </script>
{% endblock %}
