{% set pagetitle = 'Posts' %}

{% extends 'admin/layouts/admin.twig' %}

{% block content %}
    <main class="content-container">
        <header>
            <h2>{{ pagetitle }}</h2>
        </header>

        <div id="app"></div>
    </main>

    <script>
        writedown.posts = {{ posts.data|json_encode|raw }}
    </script>
{% endblock %}
