{% set pagetitle = 'Posts' %}

{% extends 'admin/layouts/admin.twig' %}

{% block content %}
    <section id="post-index-container">
        <h1 class="pagetitle">{{ pagetitle }}</h1>

        {% if posts|length < 1 %}
            <p>Nothing here. You should write something!</p>

            <div class="call-to-action">
                <a href="/admin/posts/new" class="button">Let&rsquo;s write!</a>
            </div>
        {% endif %}
    </section>
{% endblock %}
