@import '../../sass/organise';
@import '~simplemde/dist/simplemde.min.css';
@import '~flatpickr/dist/flatpickr.css';

#post-form-container {
    .error,
    .spinner,
    .success {
        display: block;
        margin-top: 1em;
        text-align: center;
        font-size: 4em;
    }
}

#post-form {
    .generated-url-container {
        padding: .5em 0 0;

        .generated-url {
            margin-left: 1em;
            padding: 0 .5em;
            background: $colour-background-light;
        }
    }
}

#post-excerpt-row,
#post-publish-at-row,
#post-title-row {
    @media screen and (min-width: 768px) {
        width: 65%;
    }
}
