/**
 * The main content container on admin screens.
 */
#content {
    width: 100%;
    padding: 1em;

    @media screen and (min-width: 768px) {
        height: 100%;
        padding: 2em;
        overflow: auto;
    }

    .pagetitle {
        margin-top: 0;
        padding-top: 0;
    }
}
