#post-index-container {
    .call-to-action.no-posts {
        text-align: center;

        @media screen and (min-width: 768px) {
            padding-top: 4em;
        }
    }
}

#posts-table {
    .post-id-column {
        width: 5%;
    }

    .post-title-column {
        width: 45%;
    }

    .post-publish-column {
        width: 30%;
    }

    .post-delete-column,
    .post-edit-column {
        width: 10%;
    }

    h4 {
        margin: 0;
    }
}
