/**
 * Sidebar for when an admin is logged in.
 */
#sidebar {
    width: 100%;
    padding: 0;
    background: $colour-background-light;

    @media screen and (min-width: 768px) {
        width: 25%;
        height: 100%;
        overflow-y: auto;
    }
}

#admin-functions {
    margin: 0;
    padding: 0;
    list-style: none;

    .admin-function {
        display: block;
        padding: 1em;
        border-bottom: 1px solid $colour-border-default;
        text-decoration: none;
        color: $colour-words-default;

        .fas {
            margin-right: 1em;
            font-size: 1.2em;
        }
    }
}
