.tabulated-data {
    width: 100%;

    th {
        text-align: left;
        font-weight: bold;
        border-bottom: 1px solid $colour-words-default;
    }

    td,
    th {
        padding: .5em 1em;
    }

    td {
        border-bottom: 1px solid $colour-background-light;
        vertical-align: top;
    }
}
