/**
 * Main navbar for when an admin is logged in.
 */
#topbar {
    width: 100%;
    padding: 1em;
    border-bottom: 3px solid $colour-state-default-dark;
    background: $colour-state-default;

    h2 {
        margin: 0;
        color: $colour-words-light;
    }
}
