<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>{{ pagetitle|striptags|title }} - WriteDown</title>

    <link rel="icon" href="/favicon.png">

    {% webpack_css 'WriteDown.css' %}

    {% include 'admin/partials/standard-vars.twig' %}
</head>
<body>
