.post-list {
    padding: 0;
    list-style: none;

    li {
        padding: $space-base;
        border-radius: $border-radius;
        background: $colour-tertiary;

        h3 {
            margin: 0;
        }
    }
}

.publish-information {
    margin-top: 0;
    font-size: 0.9em;
    color: $colour-faded-secondary;
}

.post-tools {
    margin-bottom: 0;
}
