.tags-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;

    li {
        flex: 0 0 50%;
        margin: 0 0 1.5em;
        padding-right: 1.5em;

        @media screen and (min-width: 768px) {
            flex: 0 0 17.6%;
        }

        &.tag-item {
            margin-right: 3%;
            padding: .75em 1.5em;
            border-left: 2px solid $colour-state-default;
            background: $colour-words-default;
            color: $colour-words-light;

            &:nth-of-type(even) {
                margin-right: 0;
            }

            @media screen and (min-width: 768px) {
                &:nth-of-type(even) {
                    margin-right: 3%;
                }

                &:nth-of-type(5n) {
                    margin-right: 0;
                }
            }
        }

        &.tag-form-item {
            flex: 0 0 50%;
            padding-top: .75em;
        }

        .fa-plus {
            color: $colour-go;
        }

        .fa-trash {
            float: right;
            padding-top: .5em;
            color: #fff;
        }
    }
}
