// Backgrounds
$colour-background-default: #eee;
$colour-background-light: #fff;

// Lines
$colour-border-default: #888;

// States
$colour-state-default: #00b2ff;
$colour-state-default-dark: darken($colour-state-default, 10%);

// Words
$colour-words-default: #16161d;
$colour-words-light: #fff;
