// Backgrounds
$colour-background-default: #eee;
$colour-background-light: #fff;

// States
$colour-state-default: #ec4d42;
$colour-state-default-dark: darken($colour-state-default, 10%);

// Words
$colour-words-default: #16161d;
$colour-words-light: #fff;

// Lines
$colour-border-default: lighten($colour-words-default, 10%);
