/**
 * Import dependencies.
 */
@import "~normalize.css/normalize";
@import url('https://fonts.googleapis.com/css?family=Patua+One|Titillium+Web');

/**
 * Apply a natural box layout model to all elements, but allowing components to
 * change.
 */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/**
 * General style defintions.
 */
html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html {
    font-size: 62.5%; // 10px
}

body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 2em;
    font-size: 1.4em;

    background: #ccc;

    -webkit-box-shadow:inset 0 0 25px 0 #888;
    box-shadow:inset 0 0 25px 0 #888;
}

h1,
h2 {
    font-family: 'Patua One', cursive;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}
