/**
 * Import dependencies.
 */
@import '~normalize.css/normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css');

/**
 * Import variables and mixins
 */
@import 'sass/organise';

/**
 * Apply a natural box layout model to all elements, but allowing components to
 * change.
 */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/**
 * General style defintions.
 */
html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html {
    font-size: 62.5%; // 10px
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 2em;
    font-size: 1.5em;
    color: $colour-words-default;
    background: $colour-background-default;
}

h1,
h2 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

/**
 * Separated general use styles
 */
@import 'sass/style';
