@import '../../sass/organise';

#login-body {
    -webkit-box-shadow:inset 0 0 25px 0 $colour-border;
    box-shadow:inset 0 0 25px 0 $colour-border;
}

#login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    header {
        text-align: center;
    }
}
